body{
    margin: 0;
    background-color: #ccc;
    position: relative;
    height: 100svh;
}

.head{
    width: 100%;
    height:7vh;
    background-color: white;
    margin: 7px auto;
    text-align: center;
    box-shadow: 1px 1px 1px #fcf1fe;
    
}

.button{
    background-color: cyan;
    margin: 10px auto;
    padding: 6px;
    cursor: pointer;
}

.john{
    background-color: white;
    width: 30%;
    margin:50px;
    box-shadow: white;
    text-align: center;
    text-transform: capitalize;
    box-shadow: 1px 1px 1px #fcf1fe;
    height:120vh;
}

img{
    width: 50%;
    border-radius: 200px;
    margin-top: 30px;
}

#button1{
    background-color: rgb(69, 69, 129);
    color: white;
    padding: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}

#button2{
    background-color:white;
    color: blue;
    padding: 6px;
    box-shadow: 10px;
    cursor: pointer;


}

.details{

    background-color: white;
    width: 50%;
    font-size: bold;
    text-transform: capitalize;
    box-shadow: 1px 1px 1px #fcf1fe;
    position: absolute;
    top: 100px;
    right: 150px;


    

}

.form{
    display: flex;
    flex-direction: column;
    padding: 10px; 
    box-shadow: 1px 1px 1px #fcf1fe;  
}

label{
   padding: 10px;
}
#button{
    margin: 20px;
    background-color: brown;
    color: white;
    border: none;
    cursor: pointer;
}
.project{
    background-color: white;
    width: 43%;
    text-transform: capitalize;
    font-size: large;
    box-shadow: 1px 1px 1px #fcf1fe;
    position: absolute;
    right: 150px;
    top:530px;
    padding:53px;
    height: fit-content;
    
}
input{
    width: 100%;
    
    
}
