body {
    margin: 0;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.head {
    width: 100%;
    height: 7vh;
    background-color: white;
    text-align: center;
    box-shadow: 1px 1px 1px #fcf1fe;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: cyan;
    margin: 10px;
    padding: 6px 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.john {
    background-color: white;
    width: 40%;
    margin: 50px auto;
    text-align: center;
    text-transform: capitalize;
    box-shadow: 1px 1px 1px #fcf1fe;
    padding: 20px;
    border-radius: 10px;
}

.john img {
    width: 50%;
    border-radius: 50%;
    margin-top: 30px;
}

#button1 {
    background-color: rgb(69, 69, 129);
    color: white;
    padding: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#button2 {
    background-color: white;
    color: blue;
    padding: 6px;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 5px;
}

.details {
    background-color: white;
    width: 50%;
    margin: 20px auto;
    text-transform: capitalize;
    box-shadow: 1px 1px 1px #fcf1fe;
    padding: 20px;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    padding: 10px 0;
}

.form input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#button {
    margin-top: 20px;
    background-color: brown;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.project {
    background-color: white;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    text-transform: capitalize;
    font-size: large;
    box-shadow: 1px 1px 1px #fcf1fe;
    border-radius: 10px;
}

.project input[type="range"] {
    width: 100%;
    margin: 10px 0;
}
